employee-payroll-system/payroll-api/src/main/mule/payroll-by-month.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="payroll-by-monthFlow" doc:id="519c4b9c-1f17-44d7-bae1-975351216a5d" >
		<db:select doc:name="Select" doc:id="60bddfa9-b5f6-4651-b266-38d32519b62f" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM payroll_transactions WHERE month = :month]]></db:sql>
			<db:input-parameters ><![CDATA[#[month: vars.month]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1378932d-a0f4-4403-907d-f27129a6042f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
